[package]
name = "domain"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1", features = ["derive"] }
sqlx = { version = "0.7", features = ["postgres", "chrono", "runtime-tokio"] }
